.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .top-right {
    position: absolute;
    top: 250px;
    right: 0px;
    text-align: right;
    margin-left: 200px;
  }  
  .top-left {
    position: absolute;
    top: 12px;
    left: 16px;
  }
    